.logo {
  display: flex;
  align-items: center;

  font-family: @dina;
  font-size: 3rem;

  color: inherit;
  .text-stroke;

  cursor: pointer;
}

.logo__img-wrap {
  width: 5.3rem;
  height: 5.3rem;
  margin-right: 13px;
}

.logo__img {
  .img-cover;
}

@media (max-width: @tablet-width) {
  .logo {
    font-size: 2rem;
  }
}
