@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"), url("../fonts/Circe/light/Circe-Light.woff") format("woff"), url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Droid';
  src: local('Droid'), local("Droid Regular"), local("Droid-Regular"), url('../fonts/Droid/regular/Droid-Regular.woff2') format('woff2'), url('../fonts/Droid/regular/Droid-Regular.woff') format('woff'), url('../fonts/Droid/regular/Droid-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'DINAlternate';
  src: local("DINAlternate"), local("DIN-Alternate"), local("DINAlternate-Regular"), local("DIN-Alternate-Regular"), url("../fonts/DIN-Alternate/bold/DINAlternate-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local("Cinematografica Light"), local("Cinematografica-Light"), url('../fonts/Cinematografica/light/Cinematografica-Light.woff2') format('woff2'), url('../fonts/Cinematografica/light/Cinematografica-Light.woff') format('woff'), url('../fonts/Cinematografica/light/Cinematografica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local('Cinematografica'), local("Cinematografica Regular"), local("Cinematografica-Regular"), url('../fonts/Cinematografica/regular/Cinematografica.woff2') format('woff2'), url('../fonts/Cinematografica/regular/Cinematografica.woff') format('woff'), url('../fonts/Cinematografica/regular/Cinematografica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'DancingScript';
  src: local('Dancing Script Bold'), local('DancingScript-Bold'), url('../fonts/Dancing-Script/bold/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 400ms;
}
.overlay.active {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.hide {
  opacity: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container,
.container-inside {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 138.5rem;
}
.container-inside {
  width: 119.6rem;
}
.container-inside--deeper {
  width: 111.4rem;
}
.mobile-block {
  display: none;
}
.desktop-block {
  display: block;
}
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
.link {
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.link--green {
  color: #67ED81;
}
.link--red {
  color: #F65471;
}
@media (max-width: 48em) {
  .container,
  .container-outside,
  .container-inside {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .link {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (max-width: 330px) {
  .link {
    font-size: 26px;
    line-height: 26px;
  }
}
.o {
  outline: 1px solid red;
}
.b {
  border: 1px solid red;
}
.text-stroke {
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 113em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 108em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 96em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 40%;
  }
}
/*header*/
.header {
  z-index: 5;
  width: 100%;
  padding-top: 2rem;
  color: #fff;
  background-color: #2C2C2C;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-bottom: 2rem;
}
.header__main-nav {
  width: 95rem;
}
.header__phone-wrapper {
  font-family: 'DINAlternate', 'Arial', sans-serif;
  text-align: right;
}
.header__phone-link {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: inherit;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.header__phone-text {
  font-size: 1.8rem;
  font-weight: 300;
}
.header__menu-toggle,
.header__link-call-back {
  display: none;
}
@media (max-width: 48em) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .header.active {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
  }
  .header.active .header__wrapper {
    flex-wrap: wrap;
  }
  .header.active .header__main-nav {
    display: block;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__phone-wrapper {
    display: none;
  }
  .header__menu-toggle,
  .header__link-call-back {
    display: block;
  }
  .header__main-nav {
    margin-top: 3.1rem;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-family: 'DINAlternate', 'Arial', sans-serif;
  font-size: 3rem;
  color: inherit;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
  cursor: pointer;
}
.logo__img-wrap {
  width: 5.3rem;
  height: 5.3rem;
  margin-right: 13px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 48em) {
  .logo {
    font-size: 2rem;
  }
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.6rem;
}
.main-nav__item {
  position: relative;
  margin-right: 2.7rem;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item:hover .main-nav__sublist,
.main-nav__link:focus + .main-nav__sublist {
  visibility: visible;
  opacity: 1;
}
.main-nav__link {
  display: block;
  position: relative;
  padding-top: 2.3rem;
  padding-bottom: 3rem;
  color: inherit;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
  cursor: pointer;
}
.main-nav__sublist {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 7.2rem;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
  width: 30.1rem;
  padding: 2.6rem;
  background-color: #F5F5F5;
}
.main-nav__subitem {
  margin-bottom: 2rem;
}
.main-nav__subitem:last-child {
  margin-bottom: 0;
}
.main-nav__sublink {
  display: block;
}
@media (max-width: 48em) {
  .main-nav {
    display: none;
    width: 100%;
  }
  .main-nav__list {
    flex-direction: column;
    font-size: 20px;
  }
  .main-nav__item {
    position: relative;
    margin-top: 0;
    margin-right: 0px;
    padding: 18px 0;
    border-bottom: 1px solid #3E3E3E;
  }
  .main-nav__link {
    padding: 0;
  }
  .main-nav__link::before {
    content: none;
  }
  .main-nav-sub {
    position: relative;
  }
  .main-nav-sub::after {
    content: '+';
    position: absolute;
    right: 0;
  }
  .main-nav-sub.active::after {
    content: '-';
  }
  .main-nav__sublist {
    display: none;
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    width: auto;
    padding: 0;
    padding-left: 22px;
    font-weight: 300;
    text-transform: none;
    background-color: transparent;
  }
  .main-nav__sublist.active {
    display: block;
  }
  .main-nav__subitem {
    margin: 18px 0;
  }
  .main-nav__sublink {
    color: #fff;
  }
}
.menu-toggle {
  position: relative;
  width: 4rem;
  height: 3.6rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-toggle span {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.2rem;
  font-size: 0;
  color: transparent;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.3rem;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 0.3rem;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.active.menu-toggle::before {
  top: 1.4rem;
  transform: rotate(-45deg);
}
.active.menu-toggle::after {
  bottom: 2rem;
  transform: rotate(45deg);
}
@media (max-width: 380px) {
  .menu-toggle {
    margin-bottom: 0;
  }
}
.main-info {
  position: relative;
}
.main-info__bg-wrap {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 54rem;
  background-color: #000;
}
.main-info__bg-wrap--overlay::before {
  position: absolute;
  content: '';
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-info__bg-img,
.main-info__bg-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-info__content-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 54rem;
  padding-top: 2rem;
  color: #fff;
}
.main-info__sub-title {
  font-size: 2.4rem;
}
.main-info__title {
  margin-bottom: 2rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 6rem;
}
.main-info__desc {
  margin-bottom: 2rem;
}
@media (max-width: 48em) {
  .main-info__bg-wrap,
  .main-info__content-wrap {
    height: 60.5rem;
  }
}
@media (max-width: 420px) {
  .main-info__content-wrap {
    justify-content: flex-start;
    padding-top: 16.6rem;
  }
  .main-info__sub-title {
    margin-bottom: 1rem;
  }
  .main-info__title {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .main-info__desc {
    margin-bottom: 1.1rem;
    line-height: 2.5rem;
  }
  .main-info__desc-item {
    display: block;
  }
}
.services {
  padding-top: 17rem;
  padding-bottom: 17rem;
}
.services__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.services__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__column--vertical {
  width: 26.5rem;
}
.services__column--vertical .services__img-wrap {
  height: 39.4rem;
}
.services__column--horizontal {
  width: 44.6rem;
}
.services__column--horizontal .services__img-wrap {
  height: 31.9rem;
}
.services__title {
  margin-bottom: 2.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 8rem;
  line-height: 5.9rem;
  text-align: center;
}
.services__title--mt15 {
  margin-top: 1.6rem;
}
.services__title--mb40 {
  margin-bottom: 4.1rem;
}
.services__title-item {
  display: block;
}
.services__img-wrap {
  width: 100%;
  margin-bottom: 2.5rem;
}
.services__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__desc {
  min-height: 5rem;
  margin-bottom: 3.3rem;
  line-height: 2.5rem;
  text-align: center;
}
.services__desc-item {
  display: block;
}
@media (max-width: 48em) {
  .services {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .services__columns-wrap {
    flex-direction: column;
  }
  .services__column {
    align-items: flex-start;
    margin-bottom: 9.4rem;
  }
  .services__column:last-child {
    margin-bottom: 0;
  }
  .services__column--vertical {
    width: 100%;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .services__column--vertical .services__img-wrap {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 100%;
    margin-bottom: 0;
  }
  .services__column--vertical .services__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 2px;
    margin-bottom: 1.9rem;
  }
  .services__column--vertical .services__desc {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .services__column--vertical .services__link {
    margin-top: auto;
    line-height: 3.2rem;
  }
  .services__column--horizontal {
    width: auto;
  }
  .services__title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 2.2rem;
  }
  .services__title-item {
    display: inline-block;
  }
  .services__img-wrap {
    flex-shrink: 0;
    order: -1;
  }
  .services__desc {
    min-height: none;
    margin-bottom: 3.3rem;
    text-align: left;
  }
}
@media (max-width: 420px) {
  .services__column--vertical {
    max-height: 26rem;
    grid-template-columns: 18.4rem 16.8rem;
    grid-column-gap: 0;
    justify-content: space-between;
  }
  .services__column--horizontal .services__img-wrap {
    height: 26.2rem;
  }
  .services__title {
    font-size: 5rem;
    line-height: initial;
  }
  .services__desc {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 330px) {
  .services__desc {
    font-size: 13px;
    line-height: 24px;
  }
}
.banner-green {
  color: #2C2C2C;
  background-color: #67ED81;
}
.banner-green--white {
  color: #67ED81;
  background-color: #fff;
}
.banner-green--white .banner-green__desc,
.banner-green--white .banner-green__link {
  color: #626060;
}
.banner-green__content-wrap {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  text-align: center;
}
.banner-green__sub-title {
  margin-bottom: 1.3rem;
  font-size: 2.4rem;
}
.banner-green__title,
.banner-green__main-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
  text-transform: uppercase;
}
.banner-green__title {
  margin-bottom: 1.5rem;
  font-size: 8.5rem;
}
.banner-green__desc {
  line-height: 2.5rem;
  text-align: center;
}
.banner-green__desc-item {
  display: block;
}
.banner-green__desc--mw {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}
.banner-green__main-title {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  font-size: 30rem;
  line-height: 30rem;
}
.banner-green__main-title--fz350 {
  margin-top: 4.5rem;
  margin-bottom: 0;
  font-size: 35rem;
  line-height: 35rem;
}
.banner-green__main-title--desc-hidden {
  display: none;
}
.banner-green__link {
  display: inline-block;
}
@media (max-width: 1750px) {
  .banner-green__main-title {
    margin-top: 4.5rem;
    margin-bottom: 0;
  }
  .banner-green__main-title--fz350 {
    margin-top: 5rem;
    line-height: 33rem;
  }
}
@media (max-width: 1350px) {
  .banner-green__main-title--fz350 {
    margin-top: 7rem;
    line-height: 33rem;
  }
}
@media (max-width: 48em) {
  .banner-green__content-wrap {
    padding-top: 7rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .banner-green__sub-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .banner-green__title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .banner-green__title-item {
    display: block;
  }
  .banner-green__desc--break {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-green__desc--mw {
    max-width: none;
  }
  .banner-green__main-title {
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
    font-size: 11rem;
    line-height: 10rem;
  }
  .banner-green__main-title-item {
    display: block;
  }
  .banner-green__main-title--fz350 {
    margin-top: 4.3rem;
    margin-bottom: 4.3rem;
    font-size: 20rem;
    line-height: 17rem;
  }
  .banner-green__main-title--fz200m {
    margin-bottom: 3.4rem;
    font-size: 20rem;
    line-height: 17rem;
  }
  .banner-green__main-title--fz140m {
    font-size: 14rem;
    line-height: 13rem;
  }
  .banner-green__main-title--desc-hidden {
    display: inline-block;
  }
  .banner-green__main-title--mob-hidden {
    display: none;
  }
}
.banner-dark {
  padding-bottom: 4.7rem;
  color: #67ED81;
  background-color: #2C2C2C;
}
.banner-dark__content-wrap {
  text-align: center;
}
.banner-dark__title,
.banner-dark__sub-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
}
.banner-dark__title {
  position: relative;
  margin-bottom: 3.4rem;
  padding-top: 19rem;
  font-size: 23rem;
  line-height: 23rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  text-shadow: #232323 0.25rem 0.25rem 0, #232323 -0.25rem -0.25rem 0, #232323 -0.25rem 0.25rem 0, #232323 0.25rem -0.25rem 0;
}
.banner-dark__title-item {
  margin-left: 4rem;
}
.banner-dark__title-img {
  z-index: 1;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-dark__sub-title {
  margin-bottom: 1.7rem;
  font-size: 5rem;
}
.banner-dark__desc {
  margin-bottom: 2.2rem;
  font-size: 2rem;
}
.banner-dark__link {
  display: inline-block;
}
.banner-dark__emphasis {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Circe', 'Arial', sans-serif;
  font-style: normal;
}
.banner-dark-win .banner-dark__title {
  margin-bottom: 1rem;
  font-size: 32rem;
  line-height: 32rem;
}
.banner-dark-win .banner-dark__title-img {
  top: 2.7rem;
  left: 29.6%;
  width: 35.3rem;
  height: 48rem;
  background-image: url('../img/dark/dark1.png');
}
.banner-dark-work .banner-dark__title {
  margin-bottom: 1.3rem;
  padding-top: 16.6rem;
  font-size: 27.5rem;
  line-height: 27.5rem;
}
.banner-dark-work .banner-dark__title-img {
  top: 14.8rem;
  left: 25.4%;
  width: 24.9rem;
  height: 30.9rem;
  background-image: url('../img/dark/dark2.png');
}
.banner-dark-heal .banner-dark__title-img {
  top: 9.3rem;
  left: 45.2%;
  width: 19.5rem;
  height: 32.8rem;
  background-image: url('../img/dark/dark3-d.png');
}
@media (max-width: 48em) {
  .banner-dark {
    padding-bottom: 6.5rem;
  }
  .banner-dark__title {
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    padding-top: 6.8rem;
    font-size: 14.5rem;
    line-height: 13rem;
    text-align: right;
    text-shadow: none;
  }
  .banner-dark__title-item {
    margin-left: 0;
  }
  .banner-dark__sub-title {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
  .banner-dark__sub-title-item {
    display: block;
  }
  .banner-dark__desc {
    margin-bottom: 2.2rem;
    font-size: 2rem;
  }
  .banner-dark__desc-item {
    display: block;
  }
  .banner-dark__emphasis {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .banner-dark-win .banner-dark__title {
    padding-top: 13rem;
    margin-bottom: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 14rem;
    line-height: 14rem;
    text-align: center;
  }
  .banner-dark-win .banner-dark__title-img {
    top: 1.9rem;
    left: 36.7%;
    width: 18.6rem;
    height: 25.3rem;
  }
  .banner-dark-work .banner-dark__title {
    margin-bottom: 2rem;
    padding-top: 18.1rem;
    font-size: 11.5rem;
    line-height: 11rem;
    letter-spacing: 2.8px;
  }
  .banner-dark-work .banner-dark__title-img {
    top: 9.7rem;
    left: -0.4rem;
    width: 17.4rem;
    height: 21.6rem;
  }
  .banner-dark-heal .banner-dark__title {
    z-index: 1;
    letter-spacing: 4.6px;
  }
  .banner-dark-heal .banner-dark__title-img {
    z-index: -1;
    top: 9.3rem;
    left: 0.4rem;
    width: 15.3rem;
    height: 25.8rem;
    background-image: url('../img/dark/dark3-m.png');
    background-size: contain;
  }
}
.video-review {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.video-review--gray {
  background-color: #F8F8F8;
}
.video-review__columns-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.3rem;
}
.video-review__column {
  width: 234px;
}
.video-review__column--right {
  text-align: right;
}
.video-review__title,
.video-review__sub-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
}
.video-review__title {
  margin-top: 9.3rem;
  margin-bottom: 6rem;
  font-size: 8rem;
  line-height: 5.9rem;
}
.video-review__sub-title {
  font-size: 4rem;
  line-height: 2.9rem;
}
.video-review__video-wrap {
  width: 56.4rem;
  height: 39.8rem;
}
.video-review__video {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.video-review__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75.7rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.video-review__desc {
  line-height: 3.3rem;
}
.video-review__link {
  margin-top: 2.3rem;
}
.controlsSpacerStack .clickToPlay {
  cursor: pointer;
  outline: 1px solid red;
}
.controlsSpacerStack {
  border: 1px solid red !important;
}
@media (max-width: 48em) {
  .video-review {
    padding-top: 13.8rem;
    padding-bottom: 13.8rem;
  }
  .video-review__columns-wrap {
    flex-wrap: wrap;
    margin-bottom: 3.2rem;
  }
  .video-review__column {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 4.3rem;
  }
  .video-review__column--right {
    text-align: left;
  }
  .video-review__title {
    margin-top: 0;
    margin-bottom: 3.7rem;
    font-size: 5rem;
    line-height: 3.7rem;
  }
  .video-review__sub-title {
    margin-top: auto;
    font-size: 3rem;
    line-height: 2.2rem;
  }
  .video-review__video-wrap {
    order: 1;
    width: 100%;
    height: 29.4rem;
    margin-bottom: 0;
  }
  .video-review__text-wrap {
    width: 31rem;
  }
  .video-review__desc {
    font-size: 14px;
    line-height: 26px;
  }
  .video-review__desc-item {
    display: block;
  }
  .video-review__link {
    margin-top: 1.5rem;
  }
}
.features {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__item:first-child {
  margin-right: 15.7rem;
}
.features__item-def {
  margin-top: 7.5rem;
}
.features__sub-title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #67ED81;
}
.feateres__title {
  max-width: 63.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 8rem;
  line-height: 5.9rem;
  color: #67ED81;
}
.feateres__link {
  display: inline-block;
  margin-top: 2.9rem;
}
.features__def-term {
  margin-bottom: 2.1rem;
  font-family: 'DancingScript', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.features__def-desc {
  margin-left: 8.7rem;
  font-size: 2rem;
  line-height: 3.3rem;
}
@media (max-width: 48em) {
  .features {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .features__item:first-child {
    margin-right: 0;
  }
  .features__item-def {
    margin-top: 7.1rem;
  }
  .features__item--last-mobile {
    order: 1;
  }
  .features__sub-title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .feateres__title {
    max-width: none;
    font-size: 7rem;
    line-height: 5.1rem;
  }
  .feateres__link {
    display: inline-block;
    margin-top: 2.9rem;
  }
  .features__def-list {
    margin-bottom: 5rem;
  }
  .features__def-term {
    margin-bottom: 1.8rem;
    font-size: 20px;
  }
  .features__def-desc {
    margin-left: 2.3rem;
    font-size: 14px;
    line-height: 26px;
  }
}
.article {
  counter-reset: list-item;
  margin-bottom: 19.3rem;
}
.article__title {
  margin-bottom: 5.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18rem;
  text-transform: uppercase;
  color: #2C2C2C;
}
.article__title-number {
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 20rem;
  letter-spacing: initial;
}
.article__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.articel__column-left {
  width: 87rem;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  line-height: 3rem;
}
.articel__column-left h3 {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.articel__column-left p:not(.services-column__desc-wrap) {
  margin-bottom: 3rem;
}
.articel__column-left ol {
  margin-top: 3.7rem;
  margin-bottom: 3.7rem;
}
.articel__column-left li {
  counter-increment: list-item;
}
.articel__column-left li::before {
  content: counter(list-item) '.';
  padding-right: 1rem;
}
.article__column-right {
  width: 32.6rem;
}
.article__column-right h3 {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  line-height: 5.5rem;
}
.article__column-right p:not(.services-column__desc-wrap) {
  font-size: 1.6rem;
  line-height: 2.9rem;
}
.article__services-column {
  margin-top: 90px;
}
.article-number .article__title {
  margin-bottom: 9rem;
  font-size: 22rem;
  line-height: 22rem;
  letter-spacing: 0.5rem;
  word-spacing: 4rem;
}
.article-number .articel__column-left {
  font-size: 2rem;
  line-height: 3.7rem;
}
.article-number .article__column-right {
  width: 40.5rem;
}
.article-number .article__column-right h3 {
  margin-bottom: 5rem;
}
@media (max-width: 48em) {
  .article {
    margin-top: 4rem;
    margin-bottom: 9.5rem;
  }
  .article__title {
    position: relative;
    margin-bottom: 4.4rem;
    font-size: 7rem;
    line-height: 7rem;
  }
  .article__title-number {
    font-size: inherit;
  }
  .article__columns-wrap {
    flex-direction: column;
  }
  .articel__column-left {
    width: auto;
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 29px;
  }
  .articel__column-left h3 {
    font-size: 20px;
  }
  .articel__column-left ol {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .article__column-right {
    display: none;
    width: auto;
    margin-bottom: 3.4rem;
  }
  .article__column-right h3 {
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 37px;
  }
  .article__column-right p:not(.services-column__desc-wrap) {
    font-size: 13px;
    line-height: 24px;
  }
  .article-number .article__columns-wrap {
    flex-direction: column-reverse;
  }
  .article-number .article__title {
    max-width: 17rem;
    margin-bottom: 6.6rem;
    padding-left: 13.5rem;
    font-size: 8.5rem;
    line-height: 7.5rem;
    word-spacing: initial;
  }
  .article-number .article__title-number {
    position: absolute;
    top: 7.5rem;
    left: 0;
    font-size: 25rem;
  }
  .article-number .articel__column-left {
    font-size: 16px;
    line-height: 29px;
  }
  .article-number .article__column-right {
    display: block;
    width: auto;
  }
  .article-number .article__column-right h3 {
    margin-bottom: 2rem;
  }
}
.about {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.about__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.about__map-wrap {
  width: 54.2rem;
  height: 38.8rem;
}
.about__content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 47rem;
}
.about__features-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #2C2C2C;
}
.about__feature-item--center {
  letter-spacing: initial;
}
.about__feature-item--big {
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: initial;
}
.about__feature-item:first-child {
  width: 24.5%;
  border-right: 0.2rem solid #2C2C2C;
}
.about__feature-item:last-child {
  text-align: right;
  width: 30%;
  border-left: 0.2rem solid #2C2C2C;
}
.about__title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 400;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  line-height: 7.5rem;
  position: relative;
  left: -15.5rem;
  width: 62.5rem;
  font-size: 9.5rem;
  text-align: right;
}
.about__links-list {
  display: flex;
  margin-top: auto;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.about__link-item:first-child {
  width: 11.5rem;
  margin-right: 9rem;
}
.about__link-item:last-child {
  width: 19rem;
}
.about__desc {
  margin-bottom: 2.2rem;
  font-weight: 300;
}
.about__link {
  margin-bottom: 0.5rem;
}
.about__swiper {
  margin-top: 6.5rem;
}
.about-contacts .about__features-list {
  margin-bottom: 1.2rem;
}
.about-contacts .about__title {
  position: static;
  width: auto;
  font-size: 7.5rem;
  text-align: left;
}
@media (max-width: 48em) {
  .about {
    margin-top: 4.5rem;
    margin-bottom: 8.5rem;
  }
  .about__columns-wrap {
    flex-direction: column;
  }
  .about__map-wrap {
    width: 100%;
    margin-top: 9.6rem;
    margin-bottom: 2.7rem;
  }
  .about__content-wrap {
    position: static;
    width: auto;
  }
  .about__features-list {
    position: absolute;
    top: 0;
    width: 87.3%;
    margin-bottom: 0;
  }
  .about__title {
    position: static;
    left: 0;
    width: auto;
    margin-bottom: 2.4rem;
    font-size: 6rem;
    line-height: 6rem;
    text-align: left;
  }
  .about__links-list {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .about__link-item:first-child {
    width: 30%;
    margin-right: 0;
  }
  .about__link-item:last-child {
    width: 50%;
    margin-right: 2.1rem;
  }
  .about__swiper {
    padding-bottom: 0;
  }
  .about-contacts {
    padding-bottom: 0rem;
  }
  .about-contacts .about__features-list {
    margin-bottom: 0;
  }
  .about-contacts .about__feature-item:first-child {
    display: none;
  }
  .about-contacts .about__feature-item:last-child {
    width: 43.2%;
  }
  .about-contacts .about__title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media (max-width: 24em) {
  .about__link-item {
    justify-content: space-between;
  }
  .about__link-item:first-child {
    width: 40%;
  }
}
.swiper__slide-wrap {
  height: 26rem;
}
.swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper__button {
  z-index: 2;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 2.7rem;
  height: 6.5rem;
  background-color: #272727;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: 50%;
  cursor: pointer;
}
.swiper__button-next {
  right: -2.5rem;
  background-image: url('../img/svg/btn-next-white.svg');
}
.swiper__button-prev {
  left: -2.5rem;
  background-image: url('../img/svg/btn-prev-white.svg');
}
.swiper__scrollbar {
  visibility: hidden;
}
.swiper-button-disabled {
  opacity: 0.5;
}
@media (max-width: 48em) {
  .swiper__slide-wrap {
    height: 19.6rem;
  }
  .swiper__scrollbar {
    visibility: visible;
    background-color: #F7F7F7;
  }
  .swiper__scrollbar .swiper-scrollbar-drag {
    background-color: #222222;
    border-radius: 0;
  }
  .swiper__container .swiper-wrapper {
    padding-bottom: 3.9rem;
  }
  .swiper__container.swiper-container-horizontal > .swiper-scrollbar {
    left: 10%;
    bottom: 0.3rem;
    width: 80%;
    height: 0.6rem;
  }
  .swiper__button {
    bottom: 1rem;
    width: 2.7rem;
    height: 3.4rem;
    background-size: 1.3rem;
  }
  .swiper__button-next {
    right: 2.5rem;
  }
  .swiper__button-prev {
    left: 2.5rem;
  }
}
.advantages {
  padding-top: 17rem;
  padding-bottom: 17rem;
}
.advantages__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.advantages__img-column {
  display: grid;
  grid-template-areas: "f f s s" "f f s s" "t t s s" "t t h h" "t t h h";
  grid-column-gap: 3.5rem;
  grid-row-gap: 3rem;
  width: 67.5rem;
  height: 72.5rem;
}
.advantages__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__img:nth-child(1) {
  grid-area: f;
}
.advantages__img:nth-child(2) {
  grid-area: s;
}
.advantages__img:nth-child(3) {
  grid-area: t;
}
.advantages__img:nth-child(4) {
  grid-area: h;
}
.advantages__content-wrap {
  width: 63.5rem;
}
@media (max-width: 48em) {
  .advantages {
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;
  }
  .advantages__columns-wrap {
    flex-direction: column;
  }
  .advantages__img-column {
    grid-template-areas: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23rem 25.4rem;
    grid-gap: 2rem;
    width: auto;
    height: 50.4rem;
    margin-bottom: 3.5rem;
  }
  .advantages__img:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .advantages__img:nth-child(2) {
    display: none;
  }
  .advantages__img:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .advantages__img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .advantages__content-wrap {
    width: auto;
  }
}
.list__title {
  margin-bottom: 5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 9rem;
  line-height: 6.6rem;
  letter-spacing: 0.02em;
}
.list__title--without-list-title {
  margin-bottom: 5.5rem;
}
.list__list-title {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  text-shadow: #000 0.05rem 0.05rem 0, #000 -0.05rem -0.05rem 0, #000 -0.05rem 0.05rem 0, #000 0.05rem -0.05rem 0;
}
.list__main-wrap,
.list ul,
.list ol {
  box-sizing: border-box;
}
.list__item,
.list li {
  position: relative;
  display: flex;
  margin-bottom: 1.75rem;
  padding-left: 4.6rem;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem solid #E2E2E2;
}
.list__item:last-child,
.list li:last-child {
  margin-bottom: 0;
}
.list__item::before,
.list ul li::before {
  position: absolute;
  content: '';
  top: -0.6rem;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url('../img/svg/check.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.list ol li::before {
  counter-increment: olCount;
  content: counter(olCount);
  position: absolute;
  top: -0.6rem;
  left: 0;
  font-size: 3rem;
}
.list ol {
  counter-reset: olCount;
}
.list__more-info {
  position: relative;
  margin-left: auto;
  cursor: pointer;
}
.list__more-wrap {
  position: relative;
  cursor: pointer;
}
.list__more-block {
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 10;
  top: 4.4rem;
  right: -0.3rem;
  width: 36.2rem;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.4rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #F2FFF5;
  border: 0.2rem solid #67ED81;
}
.list__more-block::before {
  position: absolute;
  content: '';
  top: -1.4rem;
  right: 3rem;
  width: 0;
  height: 0;
  border: 1.2rem solid #ffffff;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
  border-bottom-color: #67ED81;
}
.list__more-title {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 2rem;
}
.list__more-close {
  display: none;
}
@media (min-width: 48em) {
  .tab .list__more-wrap:hover .list__more-block.focus,
  .list__more-wrap:hover .list__more-block,
  .list__more-block.focus {
    display: block;
  }
  /*если элемент в фокусе с клавиатуры - убрать hover*/
  .tab .list__more-wrap:hover .list__more-block {
    display: none;
  }
}
@media (max-width: 48em) {
  .list__title {
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .list__list-title {
    margin-bottom: 2.8rem;
    font-size: 2rem;
    line-height: 3.7rem;
    text-shadow: initial;
  }
  .list__item,
  .list li {
    padding-left: 4rem;
    margin-bottom: 15px;
    padding-bottom: 9px;
    line-height: 28px;
    font-size: 16px;
  }
  .list__item::before,
  .list ul li::before {
    top: 35%;
    transform: translateY(-50%);
    left: 0.1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .list ol li::before {
    top: 0;
    left: 0.2rem;
    font-size: 20px;
  }
  .list__more-block {
    display: none;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    font-size: 15px;
    line-height: initial;
  }
  .list__more-block::before {
    content: none;
  }
  .list__more-block.active {
    display: block;
  }
  .list__more-title {
    display: block;
    margin-bottom: 2.4rem;
    font-size: 20px;
  }
  .list__more-close {
    position: absolute;
    top: 0.6rem;
    right: 1.7rem;
    display: block;
    width: 20px;
    height: 20px;
    color: transparent;
  }
  .list__more-close::before,
  .list__more-close::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 110%;
    height: 0.2rem;
    background-color: #000;
  }
  .list__more-close::before {
    transform: rotate(45deg);
  }
  .list__more-close::after {
    transform: rotate(-45deg);
  }
}
.rating {
  text-align: center;
}
.rating--margin {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}
.rating--margin-big {
  margin-top: 5.5rem;
  margin-bottom: 15rem;
}
.rating__img-wrap {
  position: relative;
  width: 39.5rem;
  height: 39.5rem;
  margin-left: auto;
  margin-right: auto;
}
.rating__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rating__img-desc-wrap {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-66%, -68%);
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
}
.rating__img-desc {
  font-size: 1.6rem;
  color: #707070;
}
.rating__img-desc-count {
  font-size: 3.5rem;
  line-height: 5.4rem;
  color: #000;
}
.rating__title {
  margin-bottom: 4rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 8rem;
  line-height: 5.4rem;
}
.rating__desc {
  margin-bottom: 2rem;
}
.reating__link {
  display: inline-block;
}
@media (max-width: 48em) {
  .rating--margin {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
  }
  .rating--margin-big {
    margin-bottom: 13rem;
  }
  .rating__img-wrap {
    width: auto;
    height: 36.6rem;
  }
  .rating__img-desc-wrap {
    transform: translate(-56%, -68%);
  }
  .rating__title {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.6rem;
    font-size: 5rem;
    line-height: 5rem;
  }
  .rating__desc {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 1.4rem;
  }
}
.breadcrumbs {
  margin-top: 5.7rem;
  margin-bottom: 5.7rem;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item {
  position: relative;
  margin-right: 7.7rem;
}
.breadcrumbs__item:last-child {
  color: #777;
}
.breadcrumbs__item::after {
  content: '>';
  position: absolute;
  top: 0;
  right: -5rem;
}
.breadcrumbs__item:last-child::after {
  content: none;
}
.breadcrumbs__item:nth-last-child(2)::after {
  color: #777;
}
@media (max-width: 48em) {
  .breadcrumbs__list {
    flex-wrap: wrap;
  }
  .breadcrumbs__item {
    margin-right: 3.5rem;
    margin-bottom: 1rem;
  }
  .breadcrumbs__item::after {
    right: -2.2rem;
  }
  .breadcrumbs__item:last-child {
    margin-bottom: 0;
  }
}
.person__content-wrap {
  text-align: center;
}
.person__img-wrap {
  width: 20.5rem;
  height: 20.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.3rem;
  background-color: #282826;
  border-radius: 50%;
}
.person__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.person__desc-wrap {
  text-align: center;
}
.person__title {
  position: relative;
  display: block;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}
.person__title::before {
  position: absolute;
  content: '';
  bottom: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5.6rem;
  height: 0.4rem;
  background-color: #67ED81;
}
.person__swiper {
  margin-top: 5.2rem;
  margin-bottom: 10rem;
}
.person__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11.8rem;
  padding-bottom: 3.8rem;
}
.person__item {
  width: 23%;
  margin-bottom: 8rem;
}
.person__item:nth-child(4n+1) {
  margin-left: 5rem;
}
@media (max-width: 48em) {
  .person__content-wrap {
    text-align: center;
  }
  .person__swiper {
    margin-top: 5.2rem;
    margin-bottom: 10rem;
  }
  .person__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5.8rem;
    padding-bottom: 9.4rem;
  }
  .person__list .person__img-wrap {
    width: 18.8rem;
    height: 18.8rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .person__list .person__desc-wrap {
    width: 15rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.8rem;
    text-align: left;
  }
  .person__list .person__title {
    margin-bottom: 3.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .person__list .person__title::before {
    bottom: -1.9rem;
    left: 0;
    transform: none;
    width: 2.6rem;
  }
  .person__list .person__desc {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .person__item {
    width: 100%;
    margin-bottom: 6.7rem;
  }
  .person__item:nth-child(4n+1) {
    margin-left: 0;
  }
  .person__link {
    display: flex;
    width: 100%;
  }
}
.reviews {
  padding-top: 1.8rem;
  padding-bottom: 13.5rem;
}
.reviews__item {
  margin-left: 4rem;
  margin-right: 16.5rem;
  margin-bottom: 7.8rem;
}
.reviews__item:last-child {
  margin-bottom: 0;
}
.reviews__blockquote {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding-top: 4.8rem;
}
.reviews__blockquote:last-child {
  margin-bottom: 0;
}
.reviews__datetime-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.7rem;
  height: 7.7rem;
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 3.5rem;
  line-height: 2.8rem;
  border-radius: 50%;
  background-color: #67ED81;
}
.reviews__author-name {
  display: inline-block;
  margin-left: 7.6rem;
  margin-bottom: 1.9rem;
  font-size: 3rem;
  font-style: normal;
  line-height: 3.5rem;
}
.reviews__text {
  font-size: 1.7rem;
  line-height: 2.7rem;
}
@media (max-width: 48em) {
  .reviews {
    padding-top: 4.5rem;
    padding-bottom: 9rem;
  }
  .reviews__item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6.5rem;
  }
  .reviews__author-name {
    margin-left: 8.9rem;
  }
  .reviews__text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.main-service {
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}
.main-service__row-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.3rem;
}
.main-service__column-left,
.main-service__column-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 1.3rem;
}
.main-service__column-left {
  width: 23rem;
}
.main-service__desc {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.main-service__link {
  margin-top: auto;
}
.main-service__column-center {
  width: 61rem;
  text-align: center;
}
.main-service__main-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 9.5rem;
  line-height: 9rem;
}
.main-service__column-right {
  width: 20rem;
  text-align: right;
}
.main-service__row-middle {
  width: 100%;
  height: 38.8rem;
  margin-bottom: 4.6rem;
}
.main-service__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-service__features-list {
  display: flex;
  justify-content: space-between;
  width: 54rem;
  margin: 0 auto;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #2C2C2C;
}
.main-service__feature-item--center {
  letter-spacing: initial;
  color: #F65471;
}
.main-service__feature-item--big {
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 5rem;
  line-height: 5.7rem;
  letter-spacing: initial;
}
.main-service__feature-item:first-child {
  width: 25.4%;
}
.main-service__feature-item:first-child::after {
  right: 0;
}
.main-service__feature-item:last-child {
  text-align: right;
  width: 29%;
}
.main-service__feature-item:last-child::before {
  left: 0;
}
.main-service__feature-item:first-child,
.main-service__feature-item:last-child {
  position: relative;
}
.main-service__feature-item:first-child::after,
.main-service__feature-item:last-child::before {
  position: absolute;
  content: '';
  top: 0.5rem;
  height: 75%;
  width: 0.2rem;
  background-color: #2C2C2C;
}
@media (max-width: 48em) {
  .main-service {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  .main-service__row-top {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  .main-service__column-left,
  .main-service__column-right {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-service__column-left {
    width: 17.3rem;
    margin-right: 3.2rem;
  }
  .main-service__desc {
    font-size: 15px;
    line-height: 25px;
  }
  .main-service__desc-item {
    display: none;
  }
  .main-service__link {
    margin-top: 1.8rem;
  }
  .main-service__column-center {
    order: -1;
    width: 90%;
    margin-bottom: 3.2rem;
    text-align: left;
  }
  .main-service__main-title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .main-service__column-right {
    width: 11rem;
    text-align: left;
  }
  .main-service__row-middle {
    height: 20.7rem;
    margin-bottom: 5rem;
  }
  .main-service__features-list {
    width: auto;
  }
  .main-service__feature-item--big {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .main-service__feature-item:first-child {
    width: 26.8%;
  }
  .main-service__feature-item:last-child {
    width: 30%;
  }
  .main-service__feature-item:first-child::after,
  .main-service__feature-item:last-child::before {
    height: 88%;
  }
}
@media (max-width: 24em) {
  .main-service__row-top {
    justify-content: space-between;
  }
  .main-service__column-left,
  .main-service__column-right {
    width: 44%;
    margin-right: 0;
  }
}
.service-include {
  padding-top: 16.7rem;
  padding-bottom: 16.7rem;
}
.service-include__content-wrap {
  display: flex;
  justify-content: space-between;
}
.service-include__list {
  width: 63.5rem;
}
.service-include__img-wrap {
  width: 67.5rem;
  min-height: 44.1rem;
}
.service-include__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 48em) {
  .service-include {
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
  }
  .service-include__content-wrap {
    flex-wrap: wrap;
  }
  .service-include__list {
    width: auto;
  }
  .service-include__img-wrap {
    display: none;
    width: auto;
    min-height: 44.1rem;
  }
}
.symptoms {
  padding-top: 6.6rem;
  padding-bottom: 3.6rem;
}
.symptoms__title {
  margin-bottom: 6.2rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 9rem;
  line-height: 6.6rem;
  letter-spacing: 0.02em;
  text-align: center;
}
/* only grid */
.symptoms__list {
  display: grid;
  grid-gap: 3.3rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 32.1rem);
  grid-template-rows: repeat(2, 38.6rem);
  grid-template-columns: repeat(4, 1fr);
}
/* only grid end */
.symptoms__item {
  box-sizing: border-box;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 6.5rem;
  line-height: 7rem;
  text-align: center;
  /* only grid */
  background-color: #67ED81;
}
.symptoms__item--green {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.symptoms__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/* only grid end */
/* only flex, without grid */
/*.symptoms__list {
  display: flex;
  flex-wrap: wrap;
}

.symptoms__item {
  display: flex;
}

.symptoms__img {
  width: 100%;
  object-fit: cover;
}

.symptoms__desc {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .padding-inline(3rem);
  background-color: @green;
}

.symptoms__img,
.symptoms__desc {
  width: 32.1rem;
  height: 38.6rem;
  margin-bottom: 3rem;
}*/
@media (min-width: 48em) {
  /* шахматный порядок грид-сетки*/
  .symptoms__item:nth-child(8n+5) {
    grid-column: 2/3;
  }
  .symptoms__item:nth-child(8n+6) {
    grid-column: 1/2;
  }
  .symptoms__item:nth-child(8n+7) {
    grid-column: 4/5;
  }
  .symptoms__item:nth-child(8n) {
    grid-column: 3/4;
  }
  /* если у нас по 4 колонки на flex */
  /*.symptoms__item {
    flex-direction: column;

    margin-right: 3rem;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-child(2n) {
      flex-direction: column-reverse;
    }
  }*/
  /* если у нас по 2 колонки на flex */
  /*.symptoms__item {
    justify-content: space-between;
    width: 67.5rem;
    margin-right: 3rem;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(4n),
    &:nth-child(4n-1) {
      flex-direction: row-reverse;
    }
  }*/
}
@media (max-width: 48em) {
  .symptoms {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
  }
  .symptoms__title {
    margin-bottom: 3.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 5rem;
    line-height: 5rem;
  }
  /* only grid */
  .symptoms__list {
    display: grid;
    grid-gap: 1.7rem;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 17.3rem);
    grid-template-rows: repeat(4, 20.8rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  /* only grid end */
  .symptoms__item {
    font-size: 35px;
    line-height: 38px;
  }
  .symptoms__item--green {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .symptoms__item:nth-child(4n+3) {
    grid-column: 2/3;
  }
  .symptoms__item:nth-child(4n+4) {
    grid-column: 1/2;
  }
  /* only flex */
  /*.symptoms__img,
  .symptoms__desc {
    width: 47.5%;
    height: 20.8rem;
    margin-bottom: 1.7rem;
  }

  .symptoms__item {
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }*/
}
.two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.two-columns__left {
  width: 64.1rem;
}
.two-columns__right {
  width: 67.8rem;
}
@media (max-width: 48em) {
  .two-columns {
    flex-wrap: wrap;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
  .two-columns__left,
  .two-columns__right {
    width: 100%;
  }
  .two-columns__left {
    margin-bottom: 8.4rem;
  }
}
.stages {
  padding-top: 13.5rem;
  padding-bottom: 10.5rem;
}
.stages__title {
  margin-bottom: 7.2rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 9rem;
  line-height: 6.6rem;
  text-align: center;
  letter-spacing: 0.02em;
}
.stages__list {
  counter-reset: stagesCount;
  display: flex;
  flex-wrap: wrap;
}
.stages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.5%;
  margin-right: 12.1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.stages__item:nth-child(4n+1) {
  margin-left: 1.5rem;
}
.stages__item:nth-child(4n) {
  margin-right: 0;
}
.stages__count {
  position: relative;
  width: 7.7rem;
  height: 7.7rem;
  margin-bottom: 3rem;
  background-color: #67ED81;
  border-radius: 50%;
}
.stages__count::before {
  position: absolute;
  counter-increment: stagesCount;
  content: counter(stagesCount);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 5rem;
}
.stages__sub-title {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  line-height: 3.5rem;
}
.stages__desc {
  line-height: 2.7rem;
}
@media (max-width: 48em) {
  .stages {
    padding-top: 7.7rem;
    padding-bottom: 7.7rem;
  }
  .stages__title {
    margin-bottom: 5.5rem;
    font-size: 5rem;
    line-height: 3.7rem;
  }
  .stages__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4.4rem;
  }
  .stages__item:nth-child(4n+1) {
    margin-left: 0;
  }
  .stages__item:last-child {
    margin-bottom: 0;
  }
  .stages__count {
    width: 61px;
    height: 61px;
    margin-bottom: 16px;
  }
  .stages__count::before {
    font-size: 40px;
  }
  .stages__sub-title {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 28px;
  }
  .stages__desc {
    font-size: 15px;
    line-height: 22px;
  }
}
.services-column__item {
  margin-bottom: 8.8rem;
}
.services-column__desc-wrap {
  box-sizing: border-box;
  padding: 3.6rem 4rem 3.6rem 2.2rem;
  font-size: 1.8rem;
  line-height: 2.3rem;
  background-color: #67ED81;
}
.services-column__desc-wrap--red {
  padding-right: 2.2rem;
  background-color: #F65471;
}
.services-column__desc-wrap--dark {
  padding-right: 5.5rem;
  color: #fff;
  background-color: #474747;
}
.services-column__title {
  margin-bottom: 1.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 6.5rem;
  line-height: 6rem;
}
.services-column__more {
  padding: 3rem 2.2rem;
  background-color: #F8F8F8;
}
.services-column__title,
.services-column__desc,
.services-column__more {
  display: block;
}
@media (max-width: 48em) {
  .services-column__item {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
  .services-column__desc-wrap {
    margin-bottom: 0;
    padding: 2.1rem 6rem 2.2rem 3rem;
    font-size: 16px;
    line-height: 23px;
  }
  .services-column__title {
    font-size: 50px;
    line-height: 50px;
  }
  .services-column__desc {
    padding-right: 2rem;
  }
  .services-column__more {
    padding: 1.2rem 3rem;
  }
}
.footer {
  padding-top: 9rem;
  padding-bottom: 9rem;
  color: #fff;
  background-color: #2C2C2C;
}
.footer__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  width: 23%;
}
.footer__item {
  margin-bottom: 1.9rem;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__list-tile {
  margin-bottom: 4.1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #777777;
}
.footer__link,
.footer__phone-link {
  color: #fff;
}
.footer__bottom-link-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 5.7rem;
  padding-top: 1.7rem;
  border-top: 0.1rem solid #464646;
}
.footer__logo .logo__img-wrap {
  width: 8.8rem;
  height: 8.8rem;
}
.footer__logo .logo__title {
  font-size: 4rem;
}
.footer__phone-wrapper {
  margin-top: 2.5rem;
  font-family: 'DINAlternate', 'Arial', sans-serif;
  text-align: right;
}
.footer__phone-link {
  font-size: 2.2rem;
}
@media (max-width: 48em) {
  .footer {
    padding-top: 5.8rem;
    padding-bottom: 5.8rem;
  }
  .footer__columns-wrap {
    flex-wrap: wrap;
  }
  .footer__list {
    width: 44%;
    margin-bottom: 4.1rem;
    font-size: 14px;
    line-height: 20px;
  }
  .footer__item {
    margin-bottom: 1.9rem;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__list-tile {
    margin-bottom: 4.1rem;
    font-size: inherit;
    line-height: inherit;
  }
  .footer__bottom-link-wrap {
    flex-direction: column;
    margin-top: 1.3rem;
    padding-top: 0;
    border-top: none;
  }
  .footer__logo {
    flex-direction: column;
  }
  .footer__logo .logo__img-wrap {
    width: 8.8rem;
    height: 8.8rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .footer__logo .logo__title {
    font-size: 4rem;
  }
  .footer__phone-wrapper {
    margin-top: 1.6rem;
    text-align: center;
  }
  .footer__phone-locate {
    margin-bottom: 0.3rem;
  }
  .footer__phone-link {
    font-size: 22px;
  }
}
.modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: auto;
  padding: 6rem 2rem;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.modal--callback.active,
.modal--excursion.active,
.modal--review.active {
  display: block;
}
.modal__title {
  margin-bottom: 6rem;
  font-size: 3rem;
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 1.8rem;
  right: 3.2rem;
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  padding: 0;
  color: transparent;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.modal__close::before,
.modal__close::after {
  position: absolute;
  content: "";
  top: 2.8rem;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.modal__close::before {
  transform: rotate(45deg);
}
.modal__close::after {
  transform: rotate(-45deg);
}
.modal__list {
  -moz-column-count: 4;
       column-count: 4;
}
.modal__item {
  margin-bottom: 1.5rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}
.modal__form {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  padding: 0.5rem;
}
.modal__input-phone,
.modal__btn {
  box-sizing: border-box;
  padding: 0;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  text-align: left;
  border: none;
  background-color: transparent;
}
.modal__input-phone:focus,
.modal__btn:focus {
  outline: none;
}
.modal__input-phone {
  width: 43.9%;
  margin-right: 2rem;
  font-size: 2.4rem;
}
.modal__btn {
  position: relative;
  width: 56%;
  height: 100%;
  font-size: 1.8rem;
  color: #161616;
  background-color: #F2FFF5;
  border: 0.3rem solid #67ED81;
  border-radius: 20px;
  cursor: pointer;
}
.modal__btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1.7rem;
  background-image: url('../img/svg/arrow-right-b.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal__textarea {
  box-sizing: border-box;
  width: 56%;
  height: 20rem;
  margin-bottom: 2rem;
  padding: 1.9rem;
  border: none;
  border: 0.3rem solid #67ED81;
  border-radius: 20px;
}
.modal--review .modal__form {
  flex-direction: column;
  height: auto;
}
.modal--review .modal__btn {
  height: 6.3rem;
}
@media (max-width: 48em) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    padding: 40px 20px;
    border-radius: 15px;
  }
  .modal__title {
    margin-bottom: 3rem;
  }
  .modal__close {
    top: 1rem;
    right: 10px;
    width: 4rem;
    height: 4rem;
  }
  .modal__close::before,
  .modal__close::after {
    top: 2rem;
    right: 0;
  }
  .modal__list {
    -moz-column-count: 1;
         column-count: 1;
    overflow: hidden;
    overflow-y: scroll;
  }
  .modal__form {
    height: auto;
  }
  .modal__input-phone,
  .modal__btn {
    height: 55px;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    font-size: 1.8rem;
  }
  .modal__input-phone {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .modal__btn {
    width: 42%;
    padding: 0;
    text-align: center;
    border: 3px solid #67ED81;
  }
  .modal__textarea {
    width: 90%;
    height: 30rem;
  }
  .modal--review .modal__btn {
    width: 90%;
    height: 5.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
