@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Dangrek (!!! НЕ РАБОТАЕТ !!!) */
@font-face {
  font-display: swap;
  font-family: 'Dangrek';
  src: local('Dangrek'), local("Dangrek Regular"), local("Dangrek-Regular"), url('../fonts/Dangrek/regular/Dangrek.woff2') format('woff2'), url('../fonts/Dangrek/regular/Dangrek.woff') format('woff'), url('../fonts/Dangrek/regular/Dangrek.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Droid';
  src: local('Droid'), local("Droid Regular"), local("Droid-Regular"), url('../fonts/Droid/regular/Droid.woff2') format('woff2'), url('../fonts/Droid/regular/Droid.woff') format('woff'), url('../fonts/Droid/regular/Droid.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'DINAlternate';
  src: local("DINAlternate"), local("DIN-Alternate"), local("DINAlternate-Regular"), local("DIN-Alternate-Regular"), url("../fonts/DIN-Alternate/bold/DINAlternate-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local("Cinematografica Light"), local("Cinematografica-Light"), url('../fonts/Cinematografica/light/Cinematografica-Light.woff2') format('woff2'), url('../fonts/Cinematografica/light/Cinematografica-Light.woff') format('woff'), url('../fonts/Cinematografica/light/Cinematografica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local('Cinematografica'), local("Cinematografica Regular"), local("Cinematografica-Regular"), url('../fonts/Cinematografica/regular/Cinematografica.woff2') format('woff2'), url('../fonts/Cinematografica/regular/Cinematografica.woff') format('woff'), url('../fonts/Cinematografica/regular/Cinematografica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'DancingScript';
  src: local('Dancing Script Bold'), local('DancingScript-Bold'), url('../fonts/Dancing-Script/bold/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.active {
  display: block;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container,
.container-inside {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 138.5rem;
}
.container-inside {
  width: 119.6rem;
}
.container-inside--deeper {
  width: 111.4rem;
}
.mobile-block {
  display: none;
}
.desktop-block {
  display: block;
}
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
.link {
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.link--green {
  color: #67ED81;
}
.link--red {
  color: #F65471;
}
@media (max-width: 48em) {
  .container,
  .container-outside,
  .container-inside {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .link {
    font-size: 35px;
  }
}
@media (max-width: 330px) {
  .link {
    font-size: 26px;
  }
}
.o {
  outline: 1px solid red;
}
.b {
  border: 1px solid red;
}
.text-stroke {
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 113em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 108em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 96em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 40%;
  }
}
/*header*/
.header {
  z-index: 5;
  width: 100%;
  padding-top: 2rem;
  color: #fff;
  background-color: #2C2C2C;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-bottom: 2rem;
}
.header__main-nav {
  width: 95rem;
}
.header__phone-wrapper {
  font-family: 'DINAlternate', 'Arial', sans-serif;
  text-align: right;
}
.header__phone-link {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: inherit;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.header__phone-text {
  font-size: 1.8rem;
  font-weight: 300;
}
.header__menu-toggle,
.header__link-call-back {
  display: none;
}
@media (max-width: 48em) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .header.active {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
  }
  .header.active .header__wrapper {
    flex-wrap: wrap;
  }
  .header.active .header__main-nav {
    display: block;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__phone-wrapper {
    display: none;
  }
  .header__menu-toggle,
  .header__link-call-back {
    display: block;
  }
  .header__main-nav {
    margin-top: 3.1rem;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-family: 'DINAlternate', 'Arial', sans-serif;
  font-size: 3rem;
  color: inherit;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
  cursor: pointer;
}
.logo__img-wrap {
  width: 5.3rem;
  height: 5.3rem;
  margin-right: 13px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 48em) {
  .logo {
    font-size: 2rem;
  }
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.6rem;
}
.main-nav__item {
  position: relative;
  margin-right: 2.7rem;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item:hover .main-nav__sublist,
.main-nav__link:focus + .main-nav__sublist {
  visibility: visible;
  opacity: 1;
}
.main-nav__link {
  display: block;
  position: relative;
  padding-top: 2.3rem;
  padding-bottom: 3rem;
  color: inherit;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
  cursor: pointer;
}
.main-nav__sublist {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 72px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
  width: 30.1rem;
  padding: 2.6rem;
  background-color: #F5F5F5;
}
.main-nav__subitem {
  margin-bottom: 2rem;
}
.main-nav__subitem:last-child {
  margin-bottom: 0;
}
.main-nav__sublink {
  display: block;
}
@media (max-width: 48em) {
  .main-nav {
    display: none;
    width: 100%;
  }
  .main-nav__list {
    flex-direction: column;
    font-size: 20px;
  }
  .main-nav__item {
    position: relative;
    margin-top: 0;
    margin-right: 0px;
    padding: 18px 0;
    border-bottom: 1px solid #3E3E3E;
  }
  .main-nav__link {
    padding: 0;
  }
  .main-nav__link::before {
    content: none;
  }
  .main-nav-sub {
    position: relative;
  }
  .main-nav-sub::after {
    content: '+';
    position: absolute;
    right: 0;
  }
  .main-nav-sub.active::after {
    content: '-';
  }
  .main-nav__sublist {
    display: none;
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    width: auto;
    padding: 0;
    padding-left: 22px;
    font-weight: 300;
    text-transform: none;
    background-color: transparent;
  }
  .main-nav__sublist.active {
    display: block;
  }
  .main-nav__subitem {
    margin: 18px 0;
  }
  .main-nav__sublink {
    color: #fff;
  }
}
.menu-toggle {
  position: relative;
  width: 4rem;
  height: 3.6rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-toggle span {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.2rem;
  font-size: 0;
  color: transparent;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.3rem;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 0.3rem;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.active.menu-toggle::before {
  top: 1.4rem;
  transform: rotate(-45deg);
}
.active.menu-toggle::after {
  bottom: 2rem;
  transform: rotate(45deg);
}
@media (max-width: 380px) {
  .menu-toggle {
    margin-bottom: 0;
  }
}
.main-info {
  position: relative;
}
.main-info__bg-wrap {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 54rem;
}
.main-info__bg-wrap--overlay::before {
  position: absolute;
  content: '';
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-info__bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-info__content-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 54rem;
  padding-top: 2rem;
  color: #fff;
}
.main-info__sub-title {
  font-size: 2.4rem;
}
.main-info__title {
  margin-bottom: 2rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 6rem;
}
.main-info__desc {
  margin-bottom: 2rem;
}
@media (max-width: 48em) {
  .main-info__bg-wrap,
  .main-info__content-wrap {
    height: 60.5rem;
  }
}
@media (max-width: 420px) {
  .main-info__content-wrap {
    justify-content: flex-start;
    padding-top: 16.6rem;
  }
  .main-info__sub-title {
    margin-bottom: 1rem;
  }
  .main-info__title {
    margin-bottom: 2.5rem;
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .main-info__desc {
    margin-bottom: 1.1rem;
    line-height: 2.5rem;
  }
  .main-info__desc-item {
    display: block;
  }
}
.services {
  padding-top: 17rem;
  padding-bottom: 17rem;
}
.services__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.services__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__column--vertical {
  width: 26.5rem;
}
.services__column--vertical .services__img-wrap {
  height: 39.4rem;
}
.services__column--horizontal {
  width: 44.6rem;
}
.services__column--horizontal .services__img-wrap {
  height: 31.9rem;
}
.services__title {
  margin-bottom: 2.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 8rem;
  line-height: 5.9rem;
  text-align: center;
}
.services__title--mt15 {
  margin-top: 1.6rem;
}
.services__title--mb40 {
  margin-bottom: 4.1rem;
}
.services__title-item {
  display: block;
}
.services__img-wrap {
  width: 100%;
  margin-bottom: 2.5rem;
}
.services__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__desc {
  min-height: 5rem;
  margin-bottom: 3.3rem;
  line-height: 2.5rem;
  text-align: center;
}
.services__desc-item {
  display: block;
}
@media (max-width: 48em) {
  .services {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .services__columns-wrap {
    flex-direction: column;
  }
  .services__column {
    align-items: flex-start;
    margin-bottom: 9.4rem;
  }
  .services__column:last-child {
    margin-bottom: 0;
  }
  .services__column--vertical {
    width: 100%;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .services__column--vertical .services__img-wrap {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 100%;
    margin-bottom: 0;
  }
  .services__column--vertical .services__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 1.9rem;
  }
  .services__column--vertical .services__desc {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .services__column--vertical .services__link {
    margin-top: auto;
    line-height: 3.2rem;
  }
  .services__column--horizontal {
    width: auto;
  }
  .services__title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 2.2rem;
  }
  .services__title-item {
    display: inline-block;
  }
  .services__img-wrap {
    flex-shrink: 0;
    order: -1;
  }
  .services__desc {
    min-height: none;
    margin-bottom: 3.3rem;
    text-align: left;
  }
}
@media (max-width: 420px) {
  .services__column--vertical {
    max-height: 26rem;
    grid-template-columns: 18.4rem 16.8rem;
    grid-column-gap: 0;
    justify-content: space-between;
  }
  .services__column--horizontal .services__img-wrap {
    height: 26.2rem;
  }
  .services__title {
    font-size: 5rem;
    line-height: 3.7rem;
  }
  .services__desc {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 330px) {
  .services__desc {
    font-size: 13px;
    line-height: 24px;
  }
}
.banner-green {
  color: #2C2C2C;
  background-color: #67ED81;
}
.banner-green__content-wrap {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  text-align: center;
}
.banner-green__sub-title {
  margin-bottom: 1.3rem;
  font-size: 2.4rem;
}
.banner-green__title,
.banner-green__main-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
  text-transform: uppercase;
}
.banner-green__title {
  margin-bottom: 1.5rem;
  font-size: 8.5rem;
}
.banner-green__desc {
  line-height: 2.5rem;
  text-align: center;
}
.banner-green__desc-item {
  display: block;
}
.banner-green__main-title {
  margin-bottom: 1.3rem;
  font-size: 30rem;
  line-height: 30rem;
}
.banner-green__main-title--fz350 {
  margin-top: 2.2rem;
  margin-bottom: 0;
  font-size: 35rem;
  line-height: 35rem;
}
@media (max-width: 48em) {
  .banner-green__content-wrap {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  .banner-green__sub-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .banner-green__title {
    font-size: 6rem;
  }
  .banner-green__desc--break {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-green__main-title {
    margin-top: 4.3rem;
    margin-bottom: 4.3rem;
  }
  .banner-green__main-title--fz350 {
    font-size: 20rem;
    line-height: 17rem;
  }
}
.banner-dark {
  padding-bottom: 4.7rem;
  color: #67ED81;
  background-color: #2C2C2C;
}
.banner-dark__content-wrap {
  text-align: center;
}
.banner-dark__title,
.banner-dark__sub-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
}
.banner-dark__title {
  position: relative;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  text-shadow: #232323 0.25rem 0.25rem 0, #232323 -0.25rem -0.25rem 0, #232323 -0.25rem 0.25rem 0, #232323 0.25rem -0.25rem 0;
}
.banner-dark__title-item {
  margin-left: 4rem;
}
.banner-dark__title-img {
  z-index: 1;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-dark__sub-title {
  margin-bottom: 1.7rem;
  font-size: 5rem;
}
.banner-dark__desc {
  margin-bottom: 2.2rem;
  font-size: 2rem;
}
.banner-dark__link {
  display: inline-block;
}
.banner-dark__emphasis {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Circe', 'Arial', sans-serif;
  font-style: normal;
}
.banner-dark-win .banner-dark__title {
  margin-bottom: 1rem;
  padding-top: 20rem;
  font-size: 32rem;
  line-height: 32rem;
}
.banner-dark-win .banner-dark__title-img {
  top: 2.7rem;
  left: 29.6%;
  width: 35.3rem;
  height: 48rem;
  background-image: url('../img/dark/dark1.png');
}
.banner-dark-work .banner-dark__title {
  margin-bottom: 1.3rem;
  padding-top: 16.6rem;
  font-size: 27.5rem;
  line-height: 27.5rem;
}
.banner-dark-work .banner-dark__title-img {
  top: 14.8rem;
  left: 25.4%;
  width: 24.9rem;
  height: 30.9rem;
  background-image: url('../img/dark/dark2.png');
}
@media (max-width: 48em) {
  .banner-dark {
    padding-bottom: 6.5rem;
  }
  .banner-dark__title-item {
    margin-left: 0;
  }
  .banner-dark__sub-title {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
  .banner-dark__sub-title-item {
    display: block;
  }
  .banner-dark__desc {
    margin-bottom: 2.2rem;
    font-size: 2rem;
  }
  .banner-dark__desc-item {
    display: block;
  }
  .banner-dark__emphasis {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .banner-dark-win .banner-dark__title {
    padding-top: 13rem;
    margin-bottom: 2.8rem;
    font-size: 14rem;
    line-height: 14rem;
  }
  .banner-dark-win .banner-dark__title-img {
    top: 1.9rem;
    left: 36.7%;
    width: 18.6rem;
    height: 25.3rem;
  }
}
.video-review {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.video-review__columns-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.3rem;
}
.video-review__column {
  width: 234px;
}
.video-review__column--right {
  text-align: right;
}
.video-review__title,
.video-review__sub-title {
  font-family: 'Cinematografica', 'Arial', sans-serif;
}
.video-review__title {
  margin-top: 9.3rem;
  margin-bottom: 6rem;
  font-size: 8rem;
  line-height: 5.9rem;
}
.video-review__sub-title {
  font-size: 4rem;
  line-height: 2.9rem;
}
.video-review__video-wrap {
  width: 56.4rem;
  height: 39.8rem;
}
.video-review__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75.7rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.video-review__desc {
  line-height: 3.3rem;
}
.video-review__link {
  margin-top: 2.3rem;
}
@media (max-width: 48em) {
  .video-review {
    padding-top: 13.8rem;
    padding-bottom: 13.8rem;
  }
  .video-review__columns-wrap {
    flex-wrap: wrap;
    margin-bottom: 3.2rem;
  }
  .video-review__column {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 4.3rem;
  }
  .video-review__column--right {
    text-align: left;
  }
  .video-review__title {
    margin-top: 0;
    margin-bottom: 3.7rem;
    font-size: 5rem;
    line-height: 3.7rem;
  }
  .video-review__sub-title {
    margin-top: auto;
    font-size: 3rem;
    line-height: 2.2rem;
  }
  .video-review__video-wrap {
    order: 1;
    width: 100%;
    height: 29.4rem;
    margin-bottom: 0;
  }
  .video-review__text-wrap {
    width: 31rem;
  }
  .video-review__desc {
    font-size: 14px;
    line-height: 26px;
  }
  .video-review__desc-item {
    display: block;
  }
  .video-review__link {
    margin-top: 1.5rem;
  }
}
.features {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__item:first-child {
  margin-right: 15.7rem;
}
.features__item-def {
  margin-top: 7.5rem;
}
.features__sub-title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #67ED81;
}
.feateres__title {
  max-width: 63.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 8rem;
  line-height: 5.9rem;
  color: #67ED81;
}
.feateres__link {
  display: inline-block;
  margin-top: 2.9rem;
}
.features__def-term {
  margin-bottom: 2.1rem;
  font-family: 'DancingScript', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.features__def-desc {
  margin-left: 8.7rem;
  font-size: 2rem;
  line-height: 3.3rem;
}
@media (max-width: 48em) {
  .features {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .features__item:first-child {
    margin-right: 0;
  }
  .features__item-def {
    margin-top: 7.1rem;
  }
  .features__item--last-mobile {
    order: 1;
  }
  .features__sub-title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .feateres__title {
    max-width: none;
    font-size: 7rem;
    line-height: 5.1rem;
  }
  .feateres__link {
    display: inline-block;
    margin-top: 2.9rem;
  }
  .features__def-list {
    margin-bottom: 5rem;
  }
  .features__def-term {
    margin-bottom: 1.8rem;
    font-size: 20px;
  }
  .features__def-desc {
    margin-left: 2.3rem;
    font-size: 14px;
    line-height: 26px;
  }
}
.article {
  counter-reset: list-item;
  margin-bottom: 19.3rem;
}
.article__title {
  margin-bottom: 9rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22rem;
  line-height: 22rem;
  letter-spacing: 0.5rem;
  word-spacing: 4rem;
  text-transform: uppercase;
  color: #2C2C2C;
}
.article__title-number {
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 20rem;
  letter-spacing: initial;
}
.article__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.articel__column-left {
  width: 87rem;
  margin-top: 1.5rem;
  font-size: 2rem;
  line-height: 3.7rem;
}
.articel__column-left ol {
  margin-top: 3.7rem;
  margin-bottom: 3.7rem;
}
.articel__column-left li {
  counter-increment: list-item;
}
.articel__column-left li::before {
  content: counter(list-item) '.';
  padding-right: 1rem;
}
.article__column-right {
  width: 40.5rem;
}
.article__column-right h3 {
  margin-bottom: 5rem;
  font-size: 3rem;
  line-height: 5.5rem;
}
.article__column-right p {
  font-size: 1.6rem;
  line-height: 2.9rem;
}
@media (max-width: 48em) {
  .article {
    margin-top: 4rem;
    margin-bottom: 9.5rem;
  }
  .article-number {
    max-width: 17rem;
    padding-left: 13.5rem;
  }
  .article-number .article__title-number {
    position: absolute;
    top: 7.5rem;
    left: 0;
    font-size: 25rem;
  }
  .article__title {
    position: relative;
    margin-bottom: 6.6rem;
    font-size: 8.5rem;
    line-height: 7.5rem;
    word-spacing: initial;
  }
  .article__title-number {
    font-size: inherit;
  }
  .article__columns-wrap {
    flex-direction: column-reverse;
  }
  .articel__column-left {
    width: auto;
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 29px;
  }
  .articel__column-left ol {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .article__column-right {
    width: auto;
    margin-bottom: 3.4rem;
  }
  .article__column-right h3 {
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 37px;
  }
  .article__column-right p {
    font-size: 13px;
    line-height: 24px;
  }
}
.about {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.about__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.about__map-wrap {
  width: 54.2rem;
  height: 38.8rem;
}
.about__content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 47rem;
}
.about__features-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #2C2C2C;
}
.about__feature-item--center {
  letter-spacing: initial;
}
.about__feature-item--big {
  font-family: 'Droid', 'Arial', sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: initial;
}
.about__feature-item:first-child {
  width: 24.5%;
  border-right: 0.2rem solid #2C2C2C;
}
.about__feature-item:last-child {
  text-align: right;
  width: 30%;
  border-left: 0.2rem solid #2C2C2C;
}
.about__title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 400;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  line-height: 7.5rem;
  position: relative;
  left: -15.5rem;
  width: 62.5rem;
  font-size: 9.5rem;
  text-align: right;
}
.about__links-list {
  display: flex;
  margin-top: auto;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.about__link-item:first-child {
  width: 11.5rem;
  margin-right: 9rem;
}
.about__link-item:last-child {
  width: 19rem;
}
.about__desc {
  margin-bottom: 2.2rem;
}
.about__link {
  margin-bottom: 0.5rem;
}
.about__swiper {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}
.about-contacts {
  padding-bottom: 5.4rem;
}
.about-contacts .about__features-list {
  margin-bottom: 1.2rem;
}
.about-contacts .about__title {
  position: static;
  width: auto;
  font-size: 7.5rem;
  text-align: left;
}
.swiper__slide-wrap {
  height: 26rem;
}
.swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper__button {
  z-index: 2;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 2.7rem;
  height: 6.5rem;
  background-color: #272727;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: 50%;
  cursor: pointer;
}
.swiper__button-next {
  right: -2.5rem;
  background-image: url('../img/svg/btn-next-white.svg');
}
.swiper__button-prev {
  left: -2.5rem;
  background-image: url('../img/svg/btn-prev-white.svg');
}
.swiper__scrollbar {
  visibility: hidden;
}
@media (max-width: 48em) {
  .swiper__slide-wrap {
    height: 45.4rem;
  }
  .swiper__scrollbar {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0);
  }
  .swiper__scrollbar .swiper-scrollbar-drag {
    background: rgba(0, 0, 0, 0.1);
  }
  .swiper__container .swiper-wrapper {
    padding-bottom: 10rem;
  }
  .swiper__container.swiper-container-horizontal > .swiper-scrollbar {
    left: 10%;
    bottom: 3px;
    height: 3rem;
    width: 80%;
  }
  .swiper__button {
    bottom: 2rem;
    width: 6rem;
    height: 9.5rem;
    background-size: 1.9rem;
  }
}
.advantages {
  padding-top: 17rem;
  padding-bottom: 17rem;
}
.advantages__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.advantages__img-column {
  display: grid;
  grid-template-areas: "f f s s" "f f s s" "t t s s" "t t h h" "t t h h";
  grid-column-gap: 3.5rem;
  grid-row-gap: 3rem;
  width: 67.5rem;
  height: 72.5rem;
}
.advantages__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__img:nth-child(1) {
  grid-area: f;
}
.advantages__img:nth-child(2) {
  grid-area: s;
}
.advantages__img:nth-child(3) {
  grid-area: t;
}
.advantages__img:nth-child(4) {
  grid-area: h;
}
.advantages__content-wrap {
  width: 63.5rem;
}
.list__title {
  margin-bottom: 5rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 9rem;
  line-height: 6.6rem;
  letter-spacing: 0.02em;
}
.list__list-title {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  text-shadow: #000 0.05rem 0.05rem 0, #000 -0.05rem -0.05rem 0, #000 -0.05rem 0.05rem 0, #000 0.05rem -0.05rem 0;
}
.list ul {
  box-sizing: border-box;
}
.list li {
  position: relative;
  display: flex;
  margin-bottom: 1.75rem;
  padding-left: 4.6rem;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem solid #E2E2E2;
}
.list li::before {
  position: absolute;
  content: '';
  top: -0.6rem;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url('../img/svg/check.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.list__more-info {
  position: relative;
  margin-left: auto;
  cursor: pointer;
}
.list__more-info:hover + .list__more-block,
.list__more-info:focus + .list__more-block {
  display: block;
}
.list__more-block {
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 10;
  top: 4.4rem;
  right: -0.3rem;
  width: 36.2rem;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.4rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #F2FFF5;
  border: 0.2rem solid #67ED81;
}
.list__more-block::before {
  position: absolute;
  content: '';
  top: -1.4rem;
  right: 3rem;
  width: 0;
  height: 0;
  border: 1.2rem solid #ffffff;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
  border-bottom-color: #67ED81;
}
.list__more-title {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 2rem;
}
.rating {
  text-align: center;
}
.rating--margin {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}
.rating__img-wrap {
  position: relative;
  width: 39.5rem;
  height: 39.5rem;
  margin-left: auto;
  margin-right: auto;
}
.rating__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rating__img-desc-wrap {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-66%, -68%);
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
}
.rating__img-desc {
  font-size: 1.6rem;
  color: #707070;
}
.rating__img-desc-count {
  font-size: 3.5rem;
  line-height: 5.4rem;
  color: #000;
}
.rating__title {
  margin-bottom: 4rem;
  font-family: 'Cinematografica', 'Arial', sans-serif;
  font-size: 8rem;
  line-height: 5.4rem;
}
.rating__desc {
  margin-bottom: 2rem;
}
.footer {
  padding-top: 9rem;
  padding-bottom: 9rem;
  color: #fff;
  background-color: #2C2C2C;
}
.footer__columns-wrap {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  width: 23%;
}
.footer__item {
  margin-bottom: 1.9rem;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__list-tile {
  margin-bottom: 4.1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #777777;
}
.footer__link,
.footer__phone-link {
  color: #fff;
}
.footer__bottom-link-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 5.7rem;
  padding-top: 1.7rem;
  border-top: 0.1rem solid #464646;
}
.footer__logo .logo__img-wrap {
  width: 8.8rem;
  height: 8.8rem;
}
.footer__logo .logo__title {
  font-size: 4rem;
}
.footer__phone-wrapper {
  margin-top: 2.5rem;
  font-family: 'DINAlternate', 'Arial', sans-serif;
  text-align: right;
}
.footer__phone-link {
  font-size: 2.2rem;
}
@media (max-width: 48em) {
  .footer {
    padding-top: 5.8rem;
    padding-bottom: 5.8rem;
  }
  .footer__columns-wrap {
    flex-wrap: wrap;
  }
  .footer__list {
    width: 44%;
    margin-bottom: 4.1rem;
    font-size: 14px;
    line-height: 20px;
  }
  .footer__item {
    margin-bottom: 1.9rem;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__list-tile {
    margin-bottom: 4.1rem;
    font-size: inherit;
    line-height: inherit;
  }
  .footer__bottom-link-wrap {
    flex-direction: column;
    margin-top: 1.3rem;
    padding-top: 0;
    border-top: none;
  }
  .footer__logo {
    flex-direction: column;
  }
  .footer__logo .logo__img-wrap {
    width: 8.8rem;
    height: 8.8rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .footer__logo .logo__title {
    font-size: 4rem;
  }
  .footer__phone-wrapper {
    margin-top: 1.6rem;
    text-align: center;
  }
  .footer__phone-locate {
    margin-bottom: 0.3rem;
  }
  .footer__phone-link {
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
