// Circe
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Light"),
       local("Circe-Light"),
       url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"),
       url("../fonts/Circe/light/Circe-Light.woff") format("woff"),
       url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: local("Circe"),
       local("Circe Regular"),
       local("Circe-Regular"),
       url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"),
       url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"),
       url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Bold"),
       local("Circe-Bold"),
       url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"),
       url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"),
       url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe ExtraBold"),
       local("Circe-ExtraBold"),
       url("../fonts/Circe/extrabold/Circe-ExtraBold.woff2") format("woff2"),
       url("../fonts/Circe/extrabold/Circe-ExtraBold.woff") format("woff"),
       url("../fonts/Circe/extrabold/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// Myriad
@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Light'),
       local('MyriadPro-Light'),
       url('../fonts/MyriadPro/light/MyriadPro-Light.woff2') format('woff2'),
       url('../fonts/MyriadPro/light/MyriadPro-Light.woff') format('woff'),
       url('../fonts/MyriadPro/light/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Regular'),
       local('MyriadPro-Regular'),
       url('../fonts/MyriadPro/regular/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro/regular/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro/regular/MyriadPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Semibold Italic'),
       local('MyriadPro-SemiboldIt'),
       url('../fonts/MyriadPro/semibold/MyriadPro-SemiboldIt.woff2') format('woff2'),
       url('../fonts/MyriadPro/semibold/MyriadPro-SemiboldIt.woff') format('woff'),
       url('../fonts/MyriadPro/semibold/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

// Droid
@font-face {
  font-display: swap;
  font-family: 'Droid';
  src: local('Droid'),
       local("Droid Regular"),
       local("Droid-Regular"),
       url('../fonts/Droid/regular/Droid-Regular.woff2') format('woff2'),
       url('../fonts/Droid/regular/Droid-Regular.woff') format('woff'),
       url('../fonts/Droid/regular/Droid-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// DINAlternate
@font-face {
  font-display: swap;
  font-family: 'DINAlternate';
  src: local("DINAlternate"),
       local("DIN-Alternate"),
       local("DINAlternate-Regular"),
       local("DIN-Alternate-Regular"),
       url("../fonts/DIN-Alternate/bold/DINAlternate-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Cinematografica
@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local("Cinematografica Light"),
       local("Cinematografica-Light"),
       url('../fonts/Cinematografica/light/Cinematografica-Light.woff2') format('woff2'),
       url('../fonts/Cinematografica/light/Cinematografica-Light.woff') format('woff'),
       url('../fonts/Cinematografica/light/Cinematografica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local('Cinematografica'),
       local("Cinematografica Regular"),
       local("Cinematografica-Regular"),
       url('../fonts/Cinematografica/regular/Cinematografica.woff2') format('woff2'),
       url('../fonts/Cinematografica/regular/Cinematografica.woff') format('woff'),
       url('../fonts/Cinematografica/regular/Cinematografica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local('Cinematografica ExtraBold'),
       local('Cinematografica-ExtraBold'),
       url('../fonts/Cinematografica/extrabold/Cinematografica-ExtraBold.woff2') format('woff2'),
       url('../fonts/Cinematografica/extrabold/Cinematografica-ExtraBold.woff') format('woff'),
       url('../fonts/Cinematografica/extrabold/Cinematografica-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

// Dancing Script
// @font-face {
//     font-display: swap;
//     font-family: 'DancingScript';
//     src: local('Dancing Script Regular'),
//          local('DancingScript-Regular'),
//          url('../fonts/Dancing-Script/regular/DancingScript-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }

@font-face {
  font-display: swap;
  font-family: 'DancingScript';
  src: local('Dancing Script Bold'),
       local('DancingScript-Bold'),
       url('../fonts/Dancing-Script/bold/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
