// Circe
// @font-face {
//   font-display: swap;
//   font-family: Circe;
//   src: local("Circe Thin"),
//        local("Circe-Thin"),
//        url("../fonts/Circe/thin/Circe-Thin.woff2") format("woff2"),
//        url("../fonts/Circe/thin/Circe-Thin.woff") format("woff"),
//        url("../fonts/Circe/thin/Circe-Thin.ttf") format("truetype");
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-display: swap;
//   font-family: Circe;
//   src: local("Circe ExtraLight"),
//        local("Circe-ExtraLight"),
//        url("../fonts/Circe/extralight/Circe-ExtraLight.woff") format("woff"),
//        url("../fonts/Circe/extralight/Circe-ExtraLight.ttf") format("truetype");
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-display: swap;
//   font-family: Circe;
//   src: local("Circe Light"),
//        local("Circe-Light"),
//        url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"),
//        url("../fonts/Circe/light/Circe-Light.woff") format("woff"),
//        url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
//   font-weight: 300;
//   font-style: normal;
// }

// Circe
@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: local("Circe"),
       local("Circe Regular"),
       local("Circe-Regular"),
       url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"),
       url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"),
       url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-display: swap;
//   font-family: Circe;
//   src: local("Circe Bold"),
//        local("Circe-Bold"),
//        url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"),
//        url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"),
//        url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-display: swap;
//   font-family: Circe;
//   src: local("Circe ExtraBold"),
//        local("Circe-ExtraBold"),
//        url("../fonts/Circe/extrabold/Circe-ExtraBold.woff2") format("woff2"),
//        url("../fonts/Circe/extrabold/Circe-ExtraBold.woff") format("woff"),
//        url("../fonts/Circe/extrabold/Circe-ExtraBold.ttf") format("truetype");
//   font-weight: 800;
//   font-style: normal;
// }


// Dangrek (!)
@font-face {
  font-display: swap;
  font-family: 'Dangrek';
  src: local('Dangrek'),
       local("Dangrek Regular"),
       local("Dangrek-Regular"),
       url('../fonts/Dangrek/regular/Dangrek.woff2') format('woff2'),
       url('../fonts/Dangrek/regular/Dangrek.woff') format('woff'),
       url('../fonts/Dangrek/regular/Dangrek.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// DINAlternate
@font-face {
  font-display: swap;
  font-family: 'DINAlternate';
  src: local("DINAlternate"),
       local("DIN-Alternate"),
       local("DINAlternate-Regular"),
       local("DIN-Alternate-Regular"),
       url("../fonts/DIN-Alternate/bold/DINAlternate-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


// Cinematografica
@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local("Cinematografica Light"),
       local("Cinematografica-Light"),
       url('../fonts/Cinematografica/light/Cinematografica-Light.woff2') format('woff2'),
       url('../fonts/Cinematografica/light/Cinematografica-Light.woff') format('woff'),
       url('../fonts/Cinematografica/light/Cinematografica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cinematografica';
  src: local('Cinematografica'),
       local("Cinematografica Regular"),
       local("Cinematografica-Regular"),
       url('../fonts/Cinematografica/regular/Cinematografica.woff2') format('woff2'),
       url('../fonts/Cinematografica/regular/Cinematografica.woff') format('woff'),
       url('../fonts/Cinematografica/regular/Cinematografica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
