.article {
  counter-reset: list-item;
  margin-top: 6rem;
  margin-bottom: 12rem;
}

.article__title {
  margin-bottom: 5.5rem;

  font-family: @cinema;
  font-weight: 400;
  font-size: 18rem;
  // line-height: 13.2rem;
  text-transform: uppercase;

  color: @dark-brown;

  &-number {
    font-family: @droid;
    font-size: 20rem;
    letter-spacing: initial;
  }
}

.article__columns-wrap {
  display: flex;
  justify-content: space-between;
}

.articel__column-left {
  width: 87rem;
  margin-top: 1.5rem;

  // font-size: 2rem;
  // line-height: 3.7rem;

  font-size: 1.7rem;
  line-height: 3rem;

  h3 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  p:not(.services-column__desc-wrap) {
    margin-bottom: 3rem;
  }

  ol {
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
  }

  li {
    counter-increment: list-item;

    &::before {
      content: counter(list-item) '.';
      padding-right: 1rem;
    }
  }
}

.article__column-right {
  // width: 40.5rem;
  width: 32.6rem;

  h3 {
    margin-bottom: 2.5rem;

    font-size: 3rem;
    line-height: 5.5rem;
  }

  p:not(.services-column__desc-wrap) {
    font-size: 1.6rem;
    line-height: 2.9rem;
  }
}

.article__services-column {
  margin-top: 90px;
}

.article-number {
  .article__title {
    margin-bottom: 9rem;
    font-size: 22rem;
    line-height: 22rem;
    letter-spacing: 0.5rem;
    word-spacing: 4rem;
  }
  .articel__column-left {
    font-size: 2rem;
    line-height: 3.7rem;
  }
  .article__column-right {
    width: 40.5rem;
    h3 {
      margin-bottom: 5rem;
    }
  }
}

@media (max-width: @tablet-width) {
  .article {
    margin-top: 4rem;
    margin-bottom: 9.5rem;
  }

  .article__title {
    position: relative;
    margin-bottom: 4.4rem;
    font-size: 7rem;
    line-height: 7rem;
    &-number {
      font-size: inherit;
    }
  }

  .article__columns-wrap {
    flex-direction: column;
  }

  .articel__column-left {
    width: auto;
    margin-top: 1.5rem;

    // font-size: 1.6rem;
    // line-height: 2.9rem;
    font-size: 16px;
    line-height: 29px;
    h3 {
      font-size: 20px;
    }

    p {}

    ol {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }

    li {
      &::before {
        // padding-right: 1rem;
      }
    }
  }

  .article__column-right {
    display: none;

    width: auto;
    margin-bottom: 3.4rem;
    h3 {
      // max-width: 27.6rem;
      margin-bottom: 2rem;

      // font-size: 2rem;
      // line-height: 3.7rem;
      font-size: 20px;
      line-height: 37px;
    }

    p:not(.services-column__desc-wrap) {
      // font-size: 1.3rem;
      // line-height: 2.4rem;
      font-size: 13px;
      line-height: 24px;
    }
  }

  .article__services-column {}

  .article-number {
    .article__columns-wrap {
      flex-direction: column-reverse;
    }
    .article__title {
      max-width: 17rem;
      margin-bottom: 6.6rem;
      padding-left: 13.5rem;

      font-size: 8.5rem;
      line-height: 7.5rem;
      word-spacing: initial;

      &-number {
        position: absolute;
        top: 7.5rem;
        left: 0;

        font-size: 25rem;
      }
    }
    .articel__column-left {
      font-size: 16px;
      line-height: 29px;
    }
    .article__column-right {
      display: block;
      width: auto;
      h3 {
        margin-bottom: 2rem;
      }
    }
  }
}
