.banner-dark {
  padding-bottom: 4.7rem;

  color: @green;
  background-color: @dark-brown;
}

.banner-dark__content-wrap {
  text-align: center;
}

.banner-dark__title,
.banner-dark__sub-title {
  font-family: @cinema;
}

.banner-dark__title {
  position: relative;

  margin-bottom: 3.4rem;
  padding-top: 19rem;
  font-size: 23rem;
  line-height: 23rem;

  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  .text-stroke(#232323, 0.25rem);

  &-item {
    margin-left: 4rem;
  }

  &-img {
    z-index: 1;
    content: '';
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.banner-dark__sub-title {
  margin-bottom: 1.7rem;

  font-size: 5rem;
}

.banner-dark__desc {
  margin-bottom: 2.2rem;
  font-size: 2rem;
}

.banner-dark__link {
  display: inline-block;
}

.banner-dark__emphasis {
  margin-left: 1rem;
  margin-right: 1rem;

  font-family: @circe;
  font-style: normal;
}

.banner-dark-win {
  .banner-dark__title {
    margin-bottom: 1rem;
    // padding-top: 20rem;
    font-size: 32rem;
    line-height: 32rem;
    &-img {
      top: 2.7rem;
      left: 29.6%;
      width: 35.3rem;
      height: 48rem;
      background-image: url('../img/dark/dark1.png');
    }
  }
}

.banner-dark-work {
  .banner-dark__title {
    margin-bottom: 1.3rem;
    padding-top: 16.6rem;
    font-size: 27.5rem;
    line-height: 27.5rem;
    &-img {
      top: 14.8rem;
      left: 25.4%;
      width: 24.9rem;
      height: 30.9rem;
      background-image: url('../img/dark/dark2.png');
    }
  }
}

.banner-dark-heal {
  .banner-dark__title {
    &-img {
      top: 9.3rem;
      left: 45.2%;
      // left: 86.8rem;
      width: 19.5rem;
      height: 32.8rem;
      background-image: url('../img/dark/dark3.png');
    }
  }
}

@media (max-width: @tablet-width) {
  .banner-dark {
    padding-bottom: 6.5rem;
  }

  .banner-dark__content-wrap {
  }


  .banner-dark__title {
    &-item {
      margin-left: 0
    }
    &-img {
    }
  }

  .banner-dark__sub-title {
    margin-bottom: 3rem;
    font-size: 4rem;
    &-item {
      display: block;
    }
  }

  .banner-dark__desc {
    margin-bottom: 2.2rem;
    font-size: 2rem;
    &-item {
      display: block;
    }
  }

  .banner-dark__link {
    // display: inline-block;
  }

  .banner-dark__emphasis {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .banner-dark-win {
    .banner-dark__title {
      padding-top: 13rem;
      margin-bottom: 2.8rem;
      font-size: 14.0rem;
      line-height: 14rem;
      &-img {
        top: 1.9rem;
        left: 36.7%;
        width: 18.6rem;
        height: 25.3rem;
      }
    }
  }

  .banner-dark-work {
    // .banner-dark__title {
    //   margin-bottom: 1.3rem;
    //   padding-top: 16.6rem;
    //   font-size: 27.5rem;
    //   line-height: 27.5rem;
    //   &-img {
    //     top: 14.8rem;
    //     left: 25.4%;
    //     width: 24.9rem;
    //     height: 30.9rem;
    //   }
    // }
  }
}
