.banner-green {
  color: @dark-brown;
  background-color: @green;

  &--white {
    color: @green;
    background-color: #fff;
    .banner-green__desc,
    .banner-green__link {
      color: #626060;
    }
  }
}

.banner-green__content-wrap {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;

  text-align: center;
}

.banner-green__sub-title {
  margin-bottom: 1.3rem;
  font-size: 2.4rem;
}

.banner-green__title,
.banner-green__main-title {
  font-family: @cinema;
  text-transform: uppercase;
}

.banner-green__title {
  margin-bottom: 1.5rem;
  font-size: 8.5rem;
}

.banner-green__desc {
  line-height: 2.5rem;
  text-align: center;
  &-item {
    display: block;
  }
  &--mw {
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.banner-green__main-title {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  font-size: 30rem;
  line-height: 30rem;
  &--fz350 {
    margin-top: 4.5rem;
    // margin-top: 2.2rem;
    margin-bottom: 0;
    font-size: 35rem;
    line-height: 35rem;
  }
  &--desc-hidden {
    display: none;
  }
}

.banner-green__link {
  display: inline-block;
  // font-size: 3rem;
}

@media (max-width: 1750px) {
  .banner-green__main-title {
    margin-top: 4.5rem;
    margin-bottom: 0;
    &--fz350 {
      margin-top: 5rem;
      line-height: 33rem;
    }
  }
}

@media (max-width: 1350px) {
  .banner-green__main-title {
    &--fz350 {
      margin-top: 7rem;
      line-height: 33rem;
    }
  }
}

@media (max-width: @tablet-width) {
  .banner-green__content-wrap {
    padding-top: 7rem;
    padding-bottom: 4rem;

    .padding-inline(1rem);
  }

  .banner-green__sub-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .banner-green__title {
    font-size: 6rem;
    line-height: 6rem;
    &-item {
      display: block;
    }
  }

  .banner-green__desc {
    &--break {
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
    }
    &--mw {
      max-width: none;
    }
    &-item {
      // display: block;
    }
  }

  .banner-green__main-title {
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
    font-size: 11rem;
    line-height: 10rem;
    &-item {
      display: block;
    }
    &--fz350 {
      margin-top: 4.3rem;
      margin-bottom: 4.3rem;
      font-size: 20rem;
      line-height: 17rem;
    }
    &--fz200m {
      margin-bottom: 3.4rem;
      font-size: 20rem;
      line-height: 17rem;
    }
    &--fz140m {
      font-size: 14rem;
      line-height: 13rem;
    }
    &--desc-hidden {
      display: inline-block;
    }
    &--mob-hidden {
      display: none;
    }
  }

  .banner-green__link {
    // display: inline-block;
    // font-size: 3rem;
  }
}

