.features {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  &:first-child {
    margin-right: 15.7rem;
  }
  &-def {
    margin-top: 7.5rem;
  }
}

.features__sub-title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: @green;
}

.feateres__title {
  max-width: 63.5rem;

  font-family: @cinema;
  font-size: 8rem;
  line-height: 5.9rem;

  color: @green;
}

.feateres__link {
  display: inline-block;
  margin-top: 2.9rem;
}

.features__def-list {
}

.features__def-term {
  margin-bottom: 2.1rem;

  font-family: @dance;
  font-weight: 700;
  font-size: 2.5rem;
}

.features__def-desc {
  margin-left: 8.7rem;

  font-size: 2rem;
  line-height: 3.3rem;
}
