.list {
  // width: 63.5rem;
}

.list__title {
  margin-bottom: 5rem;

  font-family: @cinema;
  font-size: 9rem;
  line-height: 6.6rem;

  letter-spacing: 0.02em;
}

.list__list-title {
  margin-bottom: 1.6rem;

  font-size: 2.5rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  .text-stroke(#000, 0.05rem);
}

.list ul {
  box-sizing: border-box;
}

.list li {
  position: relative;

  display: flex;

  margin-bottom: 1.75rem;
  padding-left: 4.6rem;
  padding-bottom: 1.7rem;

  border-bottom: 0.1rem solid #E2E2E2;

  &::before {
    position: absolute;
    content: '';

    top: -0.6rem;
    left: 0;

    width: 3.2rem;
    height: 3.2rem;

    background-image: url('../img/svg/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.list__more-info {
  position: relative;
  margin-left: auto;
  cursor: pointer;
}

.list__more-info:hover+.list__more-block,
.list__more-info:focus+.list__more-block {
  display: block;
}

.list__more-block {
  box-sizing: border-box;
  display: none;

  position: absolute;
  z-index: 10;
  top: 4.4rem;
  right: -0.3rem;

  width: 36.2rem;

  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.4rem;

  font-size: 1.5rem;
  line-height: 2rem;

  background-color: #F2FFF5;
  border: 0.2rem solid #67ED81;

  &::before {
    position: absolute;
    content: '';
    top: -1.4rem;
    right: 3rem;

    width: 0;
    height: 0;
    border: 1.2rem solid #ffffff;
    border-right-color: transparent;
    border-left-color: transparent;

    border-top-width: 0;
    border-bottom-color: #67ED81;
  }
}

.list__more-title {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 2rem;
}
