.rating {
  text-align: center;

  &--margin {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
  }
}

.rating__img-wrap {
  position: relative;
  width: 39.5rem;
  height: 39.5rem;
  margin-left: auto;
  margin-right: auto;
}

.rating__img {
  .img-cover;
}

.rating__img-desc-wrap {
  position: absolute;
  z-index: 5;

  top: 50%;
  left: 50%;
  transform: translate(-66%, -68%);

  max-width: 15rem;
  max-height: 15rem;

  border-radius: 50%;
}

.rating__img-desc {
  font-size: 1.6rem;
  color: #707070;
  &-count {
    font-size: 3.5rem;
    line-height: 5.4rem;
    color: #000;
  }
}

.rating__title {
  margin-bottom: 4rem;
  font-family: @cinema;
  font-size: 8rem;
  line-height: 5.4rem;
}

.rating__desc {
  margin-bottom: 2rem;
}

.reating__link {
}

@media (max-width: @tablet-width) {
  .rating {
    &--margin {
      margin-top: 8.5rem;
      margin-bottom: 8.5rem;
    }
  }

  .rating__img-wrap {
    // width: 37rem;
    width: auto;
    // height: 37rem;
    height: 36.6rem;
  }

  .rating__img-desc-wrap {
    // top: 50%;
    // left: 50%;
    transform: translate(-56%, -68%);
  }

  .rating__img-desc {
    // font-size: 1.6rem;
    // color: #707070;
    // &-count {
    //   font-size: 3.5rem;
    //   line-height: 5.4rem;
    //   color: #000;
    // }
  }

  .rating__title {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.6rem;
    font-size: 5rem;
    line-height: 5rem;
  }

  .rating__desc {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 1.4rem;
  }

  .reating__link {
  }
}
