.video-review {
  padding-top: 15rem;
  padding-bottom: 15rem;

  background-color: #F8F8F8;
}

.video-review__column-wrap {
  display: flex;
  justify-content: space-between;
  // align-items: center;

  margin-bottom: 6.3rem;
}

.video-review__column {
  width: 234px;

  &--right {
    text-align: right;
  }
}

.video-review__title,
.video-review__sub-title {
  font-family: @cinema;
}

.video-review__title {
  // margin-top: 25px;
  margin-top: 9.3rem;
  margin-bottom: 6rem;

  font-size: 8rem;
  line-height: 5.9rem;
}

.video-review__sub-title {
  font-size: 4rem;
  line-height: 2.9rem;
}

.video-review__video-wrap {
  width: 56.4rem;
  height: 39.8rem;
}

.video-review__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 75.7rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.video-review__desc {
  line-height: 3.3rem;
}

.video-review__link {
  margin-top: 2.3rem;
}
